#container.wechat {
    background: #cfffa1;
  
    #person {
      color: #053f16;
    }
  
    #message {
      color: rgb(10, 88, 0);
  
      #timestamp {
        color: rgb(78, 150, 56);
      }
    }
  }
  